@import url('https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple');
*{
    padding: 0;
    margin: 0;
    background-color: dedede;
    font-family: "Rancho";
    font-size: 28px;
    border-color: var(--main-color);
}
:root{
    --main-color: rgb(247, 202, 201);
    --main-hover:  rgb(247, 162, 160);
}
body{
    width: 65vw;
    height: 100vh;
    margin: auto;
    border: solid var(--main-color);
}
.mainbody{
    width: 90%;
}
.header{
    font-family: 'Rancho';
    background:linear-gradient(white,rgb(247, 202, 201));
    padding: 20px;
    font-size:50px;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.nav{
    height: 50px;
    display: flex;
    justify-content: start;
    background-color: var(--main-color);
}
.allnav{
    font-family: "Rancho";
    width:150px;
    border: none;
    border-radius: 20px 20px -0 0;
    margin-left: 2%;
    margin-right: 2%;
    background-color: var(--main-color);
}

.activenav{
    width: 150px;
    border: none;
    border-radius: 20px 20px 0 0;
    background-color: var(--main-color);
}

.completednav{
    width: 150px;
    border: none;
    border-radius: 20px 20px 0 0;
    margin-left: 5%;
    background-color: var(--main-color);
}

.todoinput{
    font-family: 'Rancho';
    font-size: 2em;
    width: 70%;
    height: 10vh;
    margin: 20px;
    padding-left: 10px;
    background-color: dedede;
    border-radius: 8px;
    box-shadow: 5px 10px 20px var(--main-color) inset
}
.addbutton{
    padding: 3px;
    margin: 20px;
    height: 10vh;
    border-radius: 10%;
}
.addfun{
    display: none;
    visibility: hidden;
}
.addbutton:hover{
    background-color: var(--main-hover);
    color: white;
}
.number{
    font-family: "Rancho";
    font-size: 2em;
    width: 10px;
    line-height: 50px;
    margin: 10px;
    padding: 5px 0 ;
    text-align: center;
    
}
.deletebtn{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 10vh;
    border-radius: 10%;

}
.deletebtn:hover{
    background-color:var(--main-hover);
    color: white;
}
.addbtn{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 10vh;
    border-radius: 10%;

}
.addbtn:hover{
    background-color:var(--main-hover);
    color: white;
}
.donebtn{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 10vh;
    border-radius: 10%;

}
.donebtn:hover{
    background-color:var(--main-hover);
    color: white;
}
.activeNavClick{
    background-color:#dedede;
}